*.iml
.idea/
.DS_Store
server/.DS_Store


# World data
world/

#Java binaries and libaries
*.jar
libaries/
versions/

#Logs (Need to find a way to poll these)
logs/
usercache.json

#Monitoring files on the server
*.pyc
__pycache__/

# Minecraft env files
*.dat
server/config/Geminai