*.iml
.idea/
.DS_Store
server/.DS_Store

# /World/ dir - minus datapacks
world/advancements/
world/data/
world/DIM-1/
world/DIM1/
world/entities/
world/playerdata/
world/poi/
world/region/
world/stats/

# World data
world/level.dat
world/level.dat
world/session.lock

#Java binaries and libaries
*.jar
libaries/
versions/

#Logs (Need to find a way to poll these)
logs/
usercache.json

#Monitoring files on the server
*.pyc
__pycache__/

# Minecraft env files
*.dat
server/config/Geminai